.signup-wrapper {
  background-color: #303030;
  border-radius: 6px;
  text-align: center;
  margin-bottom: 200px;
  margin-top: 200px;
  width: 1200px;
  color: #fff;
}
.signup-title {
  font-size: 57px;
  font-weight: 600;
  margin-bottom: 10px;
}
.signup-benefits {
  display: flex;
  justify-content: center;
}

.signup-benefits span {
  font-size: 18px;
}
.set {
  border-radius: 50%;
  flex: 0 0 6px;
  height: 6px;
  background-color: #999;
  margin: 6px 41px;
}

.signup-form {
  display: flex;
  justify-content: space-around;
  background-color: #242424;
  padding: 30px;
  border-radius: 0 0 6px 6px;
}
.signup-container {
  display: flex;
  max-width: 870px;
  width: 100%;
  margin: 0 auto;
  justify-content: space-between;
  margin-top: 1em;
}
.signup-input,
.btn-primary {
  margin: 0 8px;
  width: 33.3333%;
  font-weight: 300;
  border-radius: 5px;
  font-family: "Fira Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  height: 50px;
}
.signup-input {
  box-sizing: border-box;
  border: 1px solid #d0d0d0;
  font-size: 20px;
  padding: 4px 15px 5px;
}

.btn-primary {
  border: 1px solid #fc0;
  background-color: #fc0;
  font-size: 18px;
  transition: all 0.3s ease;
}

.signup-intro {
  padding: 30px;
}

@media (max-width: 767px) {
  .signup-wrapper {
    margin: 70px 0;
    max-width: 100%;
  }
  .signup-title {
    margin-bottom: 0.5em;
  }

  .signup-benefits {
    flex-wrap: wrap;
  }
  .signup-benefits span:not(.set) {
    flex: 0 0 100%;
    margin: 7px 0;
  }
  .set {
    margin: 0;
  }
  .signup-container {
    flex-direction: column;
    max-width: 60%;
    padding: 10px;
  }
  .signup-container input,
  .signup-container button {
    width: 100%;
    padding: 10px;
    margin: 10px;
    font-size: 16px;
  }
}

@media (max-width: 630px) {
  .signup-intro {
    max-width: 100%;
    margin: 0;
  }
  .signup-title {
    margin-bottom: 0.5em !important;
    font-size: 30px !important;
  }
  .signup-container {
    max-width: 90%;
  }
}
