/* main {
  padding-top: 120px;
  margin-top: -120px;
  text-align: center;
} */
.middle-pricing {
  display: flex;
  justify-content: center;
  width: 100%;
  text-align: center;
}
.middle-container {
  margin: 0;
  padding: 0;
  max-width: 1200px;
}
.section-desktop {
  display: flex;
  justify-content: space-around;
  margin: 0 -15px;
  position: relative;
  left: -20px;
  width: 1280px;
  text-align: center;
}

.free-plan,
.pay-go-plan,
.micro-plan,
.small-plan,
.medium-plan,
.enterprise-plan {
  display: flex;
  flex-direction: column;
  width: 165px;
  height: 338px;
  justify-content: space-around;
}
.free-card,
.paygo-card,
.micro-card,
.small-card,
.medium-card,
.enterprise-card {
  height: 260px;
  margin-bottom: 20px;
  border-radius: 10px;
  text-align: center;
}

.btn {
  margin-bottom: 20px;
  border: 0;
  border-radius: 10px;
  padding: 10px;
  width: 100%;
  min-width: auto;
  color: #fff;
  font-size: 15px;
  font-weight: 700;
}

.title-plan {
  padding: 27px 0 30px;
  line-height: 1;
  font-size: 18px;
  font-weight: 700;
}

.currency {
  margin: -2px 0 0 -8.5px;
  padding: 0 2px 0 0;
  vertical-align: top;
  font-size: 16px;
  top: 0;
}

.amount {
  line-height: 52px;
  letter-spacing: -4px;
  font-size: 54px;
  font-weight: 700;
}

.content-mountly,
.content-yearly {
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 10px;
  padding-bottom: 12px;
}

.item-plan {
  padding: 0 10px 15px;
  min-height: 104px;
  line-height: 18px;
  font-size: 15px;
  font-weight: 400;
}

.mo {
  align-self: flex-end;
  margin: 0 -7.5px 3px 0;
  font-size: 12px;
  font-weight: 400;
  bottom: 3px;
  left: 1px;
}

.content {
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 10px;
  padding-bottom: 12px;
}
.section-mobile {
  display: none;
}

@media (min-width: 1025px) {
  .section-desktop {
    max-width: 1280px;
  }
}

@media (max-width: 630px) {
  main {
    max-width: 100%;
  }
  .middle-container {
    width: 100%;
  }
  .section-desktop {
    display: none;
  }

  .section-mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 7px;
    flex: 0 1 160px;
    max-width: 100%;
  }
  .free-plan,
  .pay-go-plan,
  .micro-plan,
  .small-plan,
  .medium-plan,
  .enterprise-plan {
    width: 280px;
    margin-top: 40px;
  }
  .free-card,
  .paygo-card,
  .micro-card,
  .small-card,
  .medium-card,
  .enterprise-card {
    min-height: 310px;
    margin: 0 0 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .section-mobile .one tr td:not(:nth-child(2)),
  .one .table-detail tr td:not(:nth-child(2)),
  .section-mobile .two tr td:not(:nth-child(3)),
  .section-mobile .three tr td:not(:nth-child(4)),
  .section-mobile .four tr td:not(:nth-child(5)),
  .section-mobile .five tr td:not(:nth-child(6)),
  .section-mobile .six tr td:not(:nth-child(7)) {
    display: none;
  }

  .content span:nth-child(2) {
    font-size: 90px;
  }
  .item-plan {
    min-height: 64px !important;
    padding-bottom: 20px !important;
    font-size: 14px !important;
  }
  .one,
  .two,
  .three,
  .four,
  .five,
  .six {
    width: 100% !important;
  }
}
