body {
  margin: 0;
  padding: 0;
  background: url("./image/bg-intro.jpg") 50% 0 no-repeat #111;
  height: 100%;
  font: 300 18px/1.2222222222 "Fira Sans", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  min-width: 320px;
  -webkit-font-smoothing: antialiased;
  color: #fff;
  max-width: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#root {
  width: 100%;
  max-width: 100%;
}

@media (max-width: 767px) {
  body {
    font-size: 16px;
  }
}
